<%= render 'users/info', user: @user %>
<%= render 'list', book: @book2 %>

<% if @book.errors.any? %>
  <%= @book.errors.count %> errors prohibited this obj from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<div>
  <h1>Book detail</h1>
  <%= image_tag @book.user.get_profile_image(100, 100) %>
  <%= @book.user.name %>  link付
   <!--link_to @book.user.name, user_id_path -->

  <p><%= @book.title %></p>
  <p><%= @book.body %></p>

  <p>Edit</p>
  <% if @book.user == current_user %>
    <%= link_to "Destroy", books_path(@book), method: :delete %>
  <% end %>
</div>