<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/097f084810.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!--追加部分　エラーメッセージはヘッダー下に入れる-->
    <div class="container-fluid">
      <div class="header row text-light bg-dark px-3 py-3">
        <div class="col-1"></div>
        <div class="col-1">
          <div class="Bookers">
            <%= link_to "Bookers", root_path, class: "text-decoration-none text-white", style: "font-size:1.25rem;" %>
          </div>
        </div>
        <div class="col-4 offset-5">
          <div class="row">
            <% if user_signed_in? %>
              <div class="col-3">
                <%= link_to user_path(current_user.id), class: "text-decoration-none text-white" do %>
                  <i class="fa-solid fa-house"></i>
                  <span> Home</span>
                <% end %>
              </div>
              <div class="col-3">
                <%= link_to users_path, class: "text-decoration-none text-white" do %>
                  <i class="fa-solid fa-users"></i>
                  <span> Users </span>
                <% end %>
              </div>
              <div class="col-3">
                <%= link_to books_path, class: "text-decoration-none text-white" do %>
                  <i class="fa-solid fa-book-open"></i>
                  <span> Books </span>
                <% end %>
              </div>
              <div class="col-3">
                <%= link_to destroy_user_session_path, method: :delete, class: "text-decoration-none text-white" do %>
                  <i class="fa-solid fa-right-from-bracket"></i>
                  <span> Log out </span>
                <% end %>
              </div>
            <% else %>
              <div class="col-3">
                <%= link_to "/", class: "text-decoration-none text-white" do %>
                  <i class="fa-solid fa-house"></i>
                  <span> Home</span>
                <% end %>
              </div>
              <div class="col-3">
                <%= link_to about_path, class: "text-decoration-none text-white" do %>
                  <i class="fa-solid fa-link"></i>
                  <span> About </span>
                <% end %>
              </div>
              <div class="col-3">
                <%= link_to new_user_registration_path, class: "text-decoration-none text-white" do %>
                  <i class="fa-solid fa-user-plus"></i>
                  <span> Sign up </span>
                <% end %>
              </div>
              <div class="col-3">
                <%= link_to new_user_session_path, class: "text-decoration-none text-white" do %>
                  <i class="fa-solid fa-right-to-bracket"></i>
                  <span> Log in </span>
              </div>
                <% end %>
            <% end %>
          </div>
        </div>
        <div class="col-1"></div>
      </div>
      <%= flash[:notice] %>
    </div>
    <!---->
    <%= yield %>
    <footer class="text-center">CopyRight Infratop.inc</p>
    </footer>
  </body>
</html>
